{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "formatjs",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "ast": true
      }
    ],
    [
      "react-intl-auto",
      {
        "removePrefix": "app/",
        "filebase": false
      }
    ],
    [
      "react-intl",
      {
        "messagesDir": "./build/messages/"
      }
    ]
  ]
}
