version: '3.8'
services:
  web:
    container_name: vwanu_web_stage
    image: vwanu_web:staging-nginx
    build:
      context: ./client
      dockerfile: Dockerfile.nginx
      args:
        - REACT_APP_API_URL=${SERVER_ADDRESS}
        - REACT_API_URL=${SERVER_ADDRESS}
    ports:
      - '3000:3000'
    restart: unless-stopped
  api:
    env_file:
      - .env
    container_name: vwanu_api_stage
    image: vwanu_api:staging-nginx-2.0.1
    build:
      context: ./server
      dockerfile: Dockerfile.stage
    ports:
      - '4000:4000'
    environment:
      - PORT=4000
      - PGDATABASE=social_media
      - PGUSER=vwanu
      - PGPASSWORD=123456
      - DB_HOST=pg_db
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_SECURE=${SMTP_SECURE}
      - SMTP_SERVICE=${SMTP_SERVICE}
      - REDIS_URL=redis://cache
    command: ./docker-entrypoint.sh
    depends_on:
      - pg_db

  pg_db:
    container_name: pg_db
    image: 'postgres:12'
    ports:
      - '5432:5432'
    restart: always

    environment:
      - POSTGRES_USER=vwanu
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=social_media
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - data:/var/lib/postgresql/data

volumes:
  data: {}
