node_modules
.git
build 
coverage
# Temporary hide docker file
log.txt
server/db.sql
server/src/migrations/20220315095958-create-bank-receipts.js
server/src/migrations/20220315100820-create-broadcast-usrers.js
server/src/migrations/20220315101032-create-broadcast.js
server/src/migrations/20220315101406-create-app-settings.js
server/src/migrations/20220315101610-create-activity.js
server/src/migrations/20220315101644-create-admin-invitations.js
server/src/migrations/20220315101725-create-ads.js
server/src/migrations/20220315101917-create-affiliates-requests.js
server/src/migrations/20220315102139-create-agora-video-call.js
server/src/migrations/20220315102306-create-albums-media.js
server/src/migrations/20220315102357-create-announcement.js
server/src/migrations/20220315102434-create-announcement-views.js
server/src/migrations/20220315102610-create-apps.js
server/src/migrations/20220315102659-create-apps-sessions.js
server/src/migrations/20220315191914-create-apps-hash.js
server/src/migrations/20220315191952-create-apps-permission.js
server/src/migrations/20220315192109-create-bad-login.js
server/src/migrations/20220315192135-create-banned-ip.js
server/src/migrations/20220315192158-create-blocks.js
server/src/migrations/20220315192311-create-blog.js
server/src/migrations/20220315192347-create-blog-comment-replies.js
server/src/migrations/20220315192552-create-blog-movie-dis-likes.js
server/src/migrations/20220315192632-create-blog-movie-likes.js
server/src/migrations/20220315192653-create-blogs-categories.js
server/src/migrations/20220315192934-create-blog-reaction.js
server/src/migrations/20220315193001-create-codes.js
server/src/migrations/20220315193048-create-colored-posts.js
server/src/migrations/20220315193249-create-comment.js
server/src/migrations/20220315193428-create-emails.js
server/src/migrations/20220315193559-create-html-email.js
server/src/models/activity.js
server/src/models/admininvitations.js
server/src/models/ads.js
server/src/models/affiliatesrequests.js
server/src/models/agoravideocall.js
server/src/models/albumsmedia.js
server/src/models/announcement.js
server/src/models/announcementviews.js
server/src/models/apps.js
server/src/models/appsettings.js
server/src/models/appshash.js
server/src/models/appspermission.js
server/src/models/appssessions.js
server/src/models/badlogin.js
server/src/models/bankreceipts.js
server/src/models/bannedip.js
server/src/models/blocks.js
server/src/models/blog.js
server/src/models/blog_reaction.js
server/src/models/blogcommentreplies.js
server/src/models/blogmoviedislikes.js
server/src/models/blogmovielikes.js
server/src/models/blogs_categories.js
server/src/models/broadcast.js
server/src/models/broadcastusrers.js
server/src/models/codes.js
server/src/models/colored_posts.js
server/src/models/comment.js
server/src/models/emails.js
server/src/models/comment.tsh
server/src/models/like.ts.skip

.DS_Store
**/.DS_Store
